# Table of content

1. Importing libraries

2. Importing data

3. Task

# 01. Importing Libraties

In [17]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [18]:
# Creating a shortcut path
path = path = r'C:\Users\henri\Documents\Tonia\Learning\CarrrerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis'

In [19]:
path

'C:\\Users\\henri\\Documents\\Tonia\\Learning\\CarrrerFoundry\\Data Immersion\\Achievement 4\\Instacart Basket Analysis'

In [20]:
# Importing orders_products_grouped.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_grouped.pkl'))

In [21]:
# Checking first 5 rows of the df:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New customer

In [22]:
ords_prods_merge.shape

(32404859, 19)

# 03. Task

## Task 2

In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [23]:
# Calculating the mean for the aggregated "department_id"
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Task 3

Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

First of all, once the function was ran on the entire dataframe, we have the mean of the order_number for all of the departments, rather than selected few. The aggregation performed only on the subset of the data was correct for the subset, but could not be used for the entire dataframe and the mean which was calculated before could not be applied to the entire dataframe. This is also why we have different numbers (previously calculated only on a small subset of the df).

## Task 4

Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

This task was performed before and can be seen in the notebook entitled: "4.8 IC Grouping Data & Aggregating Variables"

## Task 5

The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [24]:
# Performing a multiple aggregation on the loyalty flag:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

## Task 6

The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

    If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
    
    If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [25]:
# Creating a "mean_spend" column:
ords_prods_merge['mean_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [26]:
# Check of the new column:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Average orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Average orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Average orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Average orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,20,Regular customer,8.137793

In [27]:
# Creating a flag that assigns a spending flag:
ords_prods_merge.loc[ords_prods_merge['mean_spend'] < 10, 'spending_flag'] = 'Low spender'

In [28]:
ords_prods_merge.loc[ords_prods_merge['mean_spend'] >= 10, 'spending_flag'] = 'High spender'

In [29]:
# Checking the frequency of the new column
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [33]:
# Verify that the flag was assigned correctly:
ords_prods_merge[['user_id', 'spending_flag', 'mean_spend']].head(100)

   user_id spending_flag  mean_spend
0        1   Low spender    6.367797
1        1   Low spender    6.367797
2        1   Low spender    6.367797
3        1   Low spender    6.367797
4        1   Low spender    6.367797
..     ...           ...         ...
95     360  High spender   10.006250
96     377   Low spender    8.496552
97     387   Low spender    7.396610
98     420   Low spender    7.387805
99     420   Low spender    7.387805

[100 rows x 3 columns]

## Task 7

In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

    If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
    
    If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
    
    If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [35]:
# Creating a "median_order_frequency" column:
ords_prods_merge['median_order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_previous_order'].transform(np.median)

In [36]:
# Check of the new column:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag,median_order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest day,Average orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest day,Average orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,Mid-range product,Regularly busy,Busiest day,Average orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest day,Average orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Least busy,Average orders,9,New customer,8.372059,Low spender,6.0
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,9.0,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular customer,7.012683,Low spender,7.5
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,9.0,Mid-range product,Regularly busy,Least busy,Average orders,20,Regular customer,8.137793,Low spender,6.0

In [50]:
# Creating a flag that assigns a buying frequency flag:
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [51]:
ords_prods_merge.loc[(ords_prods_merge['median_order_frequency'] > 10) & (ords_prods_merge['median_order_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'

In [52]:
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [53]:
# Checking the frequency of the new column
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [58]:
# Creating a subset with null values in the frequency flag column:
freq_nan = ords_prods_merge[ords_prods_merge['frequency_flag'].isnull()]

In [59]:
freq_nan.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag,median_order_frequency,frequency_flag
13645692,895835,159838,1,0,17,NaN,10749,3,0,Organic Red Bell Pepper,...,Mid-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
17251990,895835,159838,1,0,17,NaN,33401,6,0,Goat Cheese Crumbles,...,Mid-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
17622767,895835,159838,1,0,17,NaN,23695,2,0,California Veggie Burger,...,Low-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
24138593,895835,159838,1,0,17,NaN,21334,5,0,Organic Peeled Garlic,...,Mid-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25880002,895835,159838,1,0,17,NaN,22198,1,0,4X Ultra Concentrated Natural Laundry Detergen...,...,Low-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN

The null values (NaN) appear in the "frequency_flag" column due to null values in the "day_since_previous_order". We can see that this is a new customer.

In [62]:
# Creating a subset for customer_id 159838 to see their entire history:
user_id_159838 = ords_prods_merge[ords_prods_merge['user_id'] == '159838']

In [63]:
user_id_159838

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag,median_order_frequency,frequency_flag
13645692,895835,159838,1,0,17,NaN,10749,3,0,Organic Red Bell Pepper,...,Mid-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
17251990,895835,159838,1,0,17,NaN,33401,6,0,Goat Cheese Crumbles,...,Mid-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
17622767,895835,159838,1,0,17,NaN,23695,2,0,California Veggie Burger,...,Low-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
24138593,895835,159838,1,0,17,NaN,21334,5,0,Organic Peeled Garlic,...,Mid-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN
25880002,895835,159838,1,0,17,NaN,22198,1,0,4X Ultra Concentrated Natural Laundry Detergen...,...,Low-range product,Busiest day,Busiest day,Average orders,1,New customer,7.42,Low spender,NaN,NaN

From the above subset, we see that this customer made only one order, therefore it is normal that there is a null value in the "days_since_previous_order" and the median is not calculated. In this situation, I propose to add an additional criterium to flag the frequency.

In [64]:
# Creating additional flag for the NaN values in the "median_order_frequency": 
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'].isnull(), 'frequency_flag'] = 'Non-frequent customer'

In [65]:
# Checking again the frequency of the new column
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636442
Name: frequency_flag, dtype: int64

In [67]:
# Verify that the flag was assigned correctly:
ords_prods_merge[['user_id', 'frequency_flag', 'median_order_frequency']].head(100)

   user_id         frequency_flag  median_order_frequency
0        1  Non-frequent customer                    20.5
1        1  Non-frequent customer                    20.5
2        1  Non-frequent customer                    20.5
3        1  Non-frequent customer                    20.5
4        1  Non-frequent customer                    20.5
..     ...                    ...                     ...
95     360      Frequent customer                     4.0
96     377       Regular customer                    16.5
97     387      Frequent customer                     8.0
98     420      Frequent customer                     7.0
99     420      Frequent customer                     7.0

[100 rows x 3 columns]

After additional verification and aggregation, now we have the frequency flag assigned correctly.

## Task 9

Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [68]:
# Checking first 5 rows of the df:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_spend,spending_flag,median_order_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [70]:
# Exporting merged dataframe to pickle:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_grouped_task.pkl'))